<div class="course">
    <div *ngIf="isLoading" 
    style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner 
            color="primary" 
            mode="indeterminate">
        </mat-progress-spinner>
    </div>

    <table mat-table class="lessons-table mat-elevation-z8" matSort matSortActive="ISSN" 
        matSortDirection="asc" matSortDisableClear [dataSource]="dataSource">

        <ng-container matColumnDef="ISSN">
            <th mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> ISSN </th>
            <td mat-cell *matCellDef="let element" [ngClass]="'w-100'"> 
                {{element.ISSN | dashify}} 
            </td>
        </ng-container>

        <ng-container matColumnDef="Author">
            <th mat-header-cell *matHeaderCellDef> Authors </th>
            <td mat-cell *matCellDef="let element"> 
                <span *ngIf="!element.author">
                   -
                </span>
                <span *ngFor="let item of element.author">
                    {{item.given}} {{item.family}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="Publisher">
            <th mat-header-cell *matHeaderCellDef [ngClass]="'w-200'"> Publisher </th>
            <td mat-cell *matCellDef="let element" [ngClass]="'w-200'"> {{element.publisher | dashify}} </td>
        </ng-container>

        <ng-container matColumnDef="Title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title | dashify}} </td>
        </ng-container>

        <ng-container matColumnDef="Url">
            <th mat-header-cell *matHeaderCellDef> Web Site </th>
            <td mat-cell *matCellDef="let element">
                <a href="{{element.URL}}" target="_blank">{{element.URL}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="Reference">
            <th mat-header-cell *matHeaderCellDef [ngClass]="'w-50'"> Reference </th>
            <td mat-cell *matCellDef="let element" [ngClass]="'w-50'"> 
                <span *ngIf="!element.reference">
                    -
                 </span>
                <span *ngIf="element.reference?.length > 0">
                    <mat-icon (click)="openDialog(element.reference)" 
                    aria-hidden="false" aria-label="View References" fontIcon="visibility" style="cursor:pointer">
                    </mat-icon>
                </span>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator pageSize=10 [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>

